<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hcsp.MockMapper">
    <select id="selectNews" resultType="com.github.hcsp.News">
        select ID, title, content, url, CREATED_AT, MODIFIED_AT
        from NEWS
        limit 2000
    </select>

    <insert id="insertNews"
            parameterType="com.github.hcsp.News">
        insert into NEWS (title, content, url, CREATED_AT, MODIFIED_AT)
        values (#{title}, #{content}, #{url}, #{createdAt}, #{modifiedAt})
    </insert>


</mapper>